<link rel="stylesheet" type="text/css" href="/stylesheets/aboutUs.css" >
<div class="container">
    <div class="row1">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">About our team </h3>
            <p class="p-top-30 half-txt">We are software engineers who value front-end web development and user experience engineering.</p>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="/images/clarence.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hi There !</h4>
                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                    </div>
                    <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Clarence D'Silva</h5>
                <span>founder &amp; ceo</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="/images/ashley.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hi Huskies!</h4>
                        <p>I am Wenyin and nice to meet you all!</p>

                    </div>
                    <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Wenyin Zhao</h5>
                <span>Software Engineer</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="/images/yuhan.jpg" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hi Huskies!</h4>
                        <p>I am Yuhan!</p>

                    </div>
                    <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Yuhan Wang</h5>
                <span>Software Engineer</span>
            </div>
        </div>

    </div>

</div>
