<link rel="stylesheet" type="text/css" href="/stylesheets/faq.css" >
<article class="faq" style="height: 700px">
    <div class="faq_description">
        <h1 style="font-size: 40px">You may find your answer here</h1>

    </div>
    <dl class="faq-collection">
        <dt class="faq-collection_question toggle-faq-js" tabindex="0" style="height: 80px">
            How to upload the resume?<i class="fa fa-chevron-down"></i>
        </dt>
        <dd class="faq-collection_answer faq-answer-js">
            Once you've registered your account, click the resume link (top right). <br>Alternatively, click the arrow next to your sign-in email address (also top right) and click the resume link. <br>From this page, you can create a resume from scratch or upload an existing file.
           <!-- <a href="#"><i class="fa fa-long-arrow-right"></i>Read more</a>-->
        </dd>
        <dt class="faq-collection_question toggle-faq-js" tabindex="0" style="height: 80px">
            Which browser should I support<i class="fa fa-chevron-down"></i></dt>
        <dd class="faq-collection_answer faq-answer-js">
            As a minimum you should support the latest versions of Firefox, Opera and Safari
        </dd>
        <dt class="faq-collection_question toggle-faq-js" tabindex="0"style="height: 80px">
            How can I target my research?<i class="fa fa-chevron-down"></i>
        </dt>
        <dd class="faq-collection_answer faq-answer-js">
            You can create advanced search queries to target any combination of education, title, location, company, skills and experience.<br> Narrow your search by filtering results according to those criteria, and you can sort by relevance or recency.
        </dd>
        <dt class="faq-collection_question toggle-faq-js" tabindex="0"style="height: 80px">
            How to contact us?<i class="fa fa-chevron-down"></i>
        </dt>
        <dd class="faq-collection_answer faq-answer-js">
            You can call us to +1(123)-456-789 <br>
            Or send the email to findjob@neu.com<br>
            Our address is 360 Huntington Avenue,
            Boston, Massachusetts 02215. <br>
            You can come to contact us.<br>

        </dd>
    </dl>
</article>

<script  src="/javascripts/faq.js"></script>