<link rel="stylesheet" href="/stylesheets/viewMyApplications.css">
<main class="container">
    <header class="second-head">
        <h1>
            View My <b>Applications! </b>
        </h1>
    </header>
    <br>
    <section class="job-card">
        <a href="#"  id="show-more1">
            <div class="company-logo">
                <i class="fa fa-rocket"></i>
            </div>
            <header>
                <p class="company-name">
                    Facebook
                </p>
                <p class="job-title">
                    Data Analyst
                </p>
            </header>
            <footer>
                <p class="job-type">
                    Full time
                </p>
                <p class="job-location">
                    NewYork
                </p>
            </footer>
        </a>
    </section>
    <br><br>
    <section class="job-card">
        <a href="#" id="show-more2">
            <div class="company-logo">
                <i class="fa fa-space-shuttle"></i>
            </div>
            <header>
                <p class="company-name">
                    IBM
                </p>
                <p class="job-title">
                    Computer Engineer
                </p>
            </header>
            <footer>
                <p class="job-type">
                    Full Time
                </p>
                <p class="job-location">
                    Boston
                </p>
            </footer>
        </a>
    </section>
</main>
<div class="overlay"></div>
<div class="job-info1">
    <button class="close">Close</button>
    <h1>
        Facebook
    </h1>
    <h2>
        Data Analyst
    </h2>
    <h2>
        Full time
    </h2>
    <p>
        If you have professional data mining and data analyse technology, with 2-year work experience. Come to join us!
    </p>
</div>


<div class="job-info2">
    <button class="close">Close</button>
    <h1>
        IBM
    </h1>
    <h2>
        Computer Engineer
    </h2>
    <h2>
        Full Time
    </h2>
    <p>
        This is an awesome job and we need you have 3 years work experience!
    </p>
</div>
<br><br><br><br><br><br><br><br>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script  src="/javascripts/viewMyApplications.js"></script>