<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h4 class="title"><i class="fa fa-address-card-o" aria-hidden="true"> Contact Us</i></h4>
                <p>360 Huntington Avenue,<br>Boston, Massachusetts 02215,<br>Tel: +1(123) 456-789.</p>
                <ul class="social-icon">
                    <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
                    <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-row text-center"> © 2017. Created by Ashley, Yuhan <span>&amp;</span> Clarence</div>
    </div>
</footer>